
img{
  max-width: 100%;
}
body {
background-color: lightblue;
}
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2%;
  box-sizing: border-box;
}
img.avatar{
  width: 15%;
  border-radius: 50%;
}
.container{
  margin-left: auto;
  margin-right: auto;
}

span {
    font-size: 20px;
    color: white;
}
h3 {
  color: white;
  font-size: 30px;
}
h4 {
  color: #983F39;
  font-size: 20px;
}
button{
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #179EFF;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
}
