
img{
  max-width: 100%;
}
body {

  background: url(\sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
.form_login{
  width: 500px;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  border: 1px;
  border-style: groove;
  color: white;
  margin:0 auto;
  position: absolute;
  left: 500px;
  top: 250px;
  line-height: 50px;

}
h3 {
  color: white;
  margin-top: 200px;
  font-size: 50px;
}

.usr {
  margin: auto;
  padding: 0 100px;
}
.pwd {
  padding: 0 100px;
}

  button {
  margin-left:165px;
  width: 150px;
} */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2%;
  box-sizing: border-box;
}
img.avatar{
  width: 15%;
  border-radius: 50%;
}
.container{
  margin-left: auto;
  margin-right: auto;
}

span {
    font-size: 20px;
    color: white;
}
h3 {
  color: white;
  font-size: 30px;
}
h4 {
  color: #983F39;
  font-size: 20px;
}
button{
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #179EFF;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
}
