/* trang chu */
   html,body{
  background-color:#fafafa;
  }
  .body{
    padding-top: 20px;
  }

/* header */
header{
  height:150px;
  background-color:#1D5B8F;
}
  nav{
    background-color:#1D5B8F;
  }
  #nav-header{
  overflow: hidden;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
 }
  a{
    color: white;
  }

  a:hover{
    color: black;
  }
  .nav-item{
    transition: 0.3s;
  }
  .nav-item:hover{
    background-color: white;

  }
  .title >h3{
    font-family:georgia;
    color:white;
  }
  #Tiemkiem{
    width: 400px;
  }
  /* .btn{
    width: 50px;
    height: auto;
  } */
/* footer */
  .footer{
    background-color: #1D5B8F;
    font-family:arial;
    padding-left: 50px;
    color:white;
  }
  #loiket{
    text-align: center;
    color: white;
    font-family:Dangrek;
  }
/* navbar */
.dropdown-item:hover{
  background-color: #fafafa;
  font-size: 20px;
  transition: all 0.3s ease;
}
nav{
  font-family: sans-serif;
}
/* menu */
  .dropleft{
    position: absolute;
    right: 0;
  }
  /* Noi dung hthi */
  .noidunght{
    margin-left: 10px;
  }

.btn{
  background-color: #1D5B8F;
  color: white;
}
/* style toast */
.toast{
    background-color: white;
    position:absolute;
    top: 150px;
    right: 0;
    /* z-index: 3; */
}

/* CSS  Đặt phòng*/
  .btn-dangky{
    background-color:  white;
    color: gray;
  }
